{% extends 'base.html' %}

{% block content %}
<div style="margin-top: 20px; margin-bottom: 50px;" class="container">
    <h2 style="text-align: center; padding: 20px;">Group List</h2>
    <div class="row">
        <div class="col-12">
            <div class="col-12">
                <a style="margin-bottom: 20px;" href="/gallery/" class="btn btn-sm btn-success">Go Back</a>
            </div>
            <br>
            <div class="col-12">
                {% if groups %}
                    {% for group in groups %}
                <a style="text-decoration: none; color: white; font-size: 25px;" href="/group/{{ group }}/"><span style="background-color: gray; border-radius: 6px" class="border p-3 m-2">{{ group }}</span></a>
                    {% endfor %}
                {% else %}
                    <p>No groups found.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
