{% extends 'base.html' %}

{% block content %}
<div>
    <h2 style="text-align: center;">{{ group_name }}</h2>
    <div class="">
        <a href="/group_list/"><button style="margin: 0px 0px 10px 30px" type="button">Go Back</button></a>
    </div>
    <br>
        {% if result %}
        <div class="gallery">
            {% for image_path in result %}
                <div class="thumbnail">
                    <img src="{{ image_path }}" alt="{{ image_file }}">
                    <div class="thumbnail-overlay">
                        <a href="{{ image_path }}" target="_blank">View</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No images found in this group.</p>
        {% endif %}
        </div>
</div>
{% endblock content %}
