{% extends 'base.html' %}

{% block content %}
<div style="margin-top: 20px; margin-bottom: 50px;" class="container">
    <h2 style="text-align: center; padding: 20px;">Images Gallery</h2>
    <div class="row">
        <div class="col-12">
            <form action="/upload_files/" method="post" enctype="multipart/form-data">
                <input type="file" name="files" accept=".jpg, .jpeg, .png" multiple>
                <a style="float: right; margin-right: 10px" class="btn btn-sm btn-primary" href="/group_list/">Group List</a>
                <a style="float: right; margin-right: 10px" href="/create_group/" class="btn btn-sm btn-primary">Create Group</a>
                <button style="float: right; margin-right: 10px" class="btn btn-sm btn-warning" type="submit">Upload</button>
            </form>
            <br>
            {% for image_path in result %}
                <img src="{{ image_path }}" height="200px" width="200px">
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock scripts %}
